{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Basics</title>
  </head>
  <body>
    <h1>App Basics Regarding Django Apps</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et similique
      harum eligendi iusto maiores aliquam numquam, quas dicta nulla quidem
      quibusdam dolorem laudantium, fuga fugiat error officiis cumque libero
      ducimus!
    </p>
  </body>
</html>
