{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="{% static 'about/style.css' %}" />
  </head>
  <body>
    <h1>This is the About page for our Django Project</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto,
      officia possimus animi culpa error repellat non quos dolorem, veniam modi
      incidunt corporis excepturi ratione inventore. Vero eos expedita
      exercitationem.
    </p>
  </body>
</html>
